<div style="margin-left:50px;float:left;text-align:left;">
  Last played:<br>
  <% if song_name = previous_songs(MPD_INSTANCE).last %>
    <%= song_name %><br>
  <% end %>
</div>
<div style="margin-right:50px;float:right;text-align:right;">
  Coming up:<br>
  <% if song_name = next_songs(MPD_INSTANCE).first %>
    <%= song_name %><br>
  <% end %>
</div>
