<% if MPD_INSTANCE.playing? %>
  <span data_url="/juke/pause" class="glyphicon glyphicon-pause" aria-hidden="true"></span>
<% else %>
  <span data_url="/juke/play" class="glyphicon glyphicon-play" aria-hidden="true"></span>
<% end %>