<div style="text-align:left;">
  <div>
    Previous:<br>
    <% previous_songs(MPD_INSTANCE).each do |song_name| %>
      <%= song_name %><br>
    <% end %>
  </div>
  <div>
    Next:<br>
    <% next_songs(MPD_INSTANCE).each do |song_name| %>
      <%= song_name %><br>
    <% end %>
  </div>
</div>
