<div style="margin-left:50px;float:left;text-align:left;">
  <%= image_tag url_for(:controller => 'juke', :action => 'mp3_image', :file => @current_song.try(:file)), size: '100x100' if @current_song.try(:file) %>
</div>

<div style="margin-right:50px;float:right;text-align:right;">
  Coming up:<br>
  <% if song = next_songs(MPD_INSTANCE).first %>
    <%= song.to_h[:title] || song.file %><br>
  <% end %>
</div>
