<!-- For main page -->
<% unless MPDClient.current_song.nil? %>
  <p id="info-title"><%= MPDClient.current_song[:title]%></p>
  <p id="info-artist"><%= MPDClient.current_song[:artist]%></p>
  <p id="info-album"><%= MPDClient.current_song[:album]%></p>
<% else %>
  <p id="info-title">Nothing is playing?</p>
  <p id="info-artist">You can add songs</p>
  <p id="info-album">to the playlist!</p>
<% end %>
