<h1>예수인교회 Jukebox</h1>

<% if @mpd.queue.present? && (@mpd.paused? || @mpd.stopped?) %>
  <p><a href="/juke/play">Start playing</a></p>
<% elsif @mpd.playing? %>
  <p><a href="/juke/stop">Stop playing</a></p>
<% end %>

<% if @mpd.queue.present? %>
  <p><a href="/juke/clear">Clear queue</a></p>
<% end %>

<br>
<p>Playing Now: <%= @mpd.current_song.try(:file) || 'none' %></p>
<p>
  Queue:<br>
  <% @mpd.queue.each do |song| %>
    <%= song.file %><br>
  <% end %>
</p>

<% @mpd.disconnect %>

<script>
  setTimeout(function() { window.location=window.location;},10000);
</script>