<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">예수인교회 Jukebox</h3>
          <nav>
            <ul class="nav masthead-nav">
              <li>
                <a href="/juke/previous"><span class="glyphicon glyphicon-backward" aria-hidden="true"></span></a>
              </li>
              <% if MPD_INSTANCE.playing? %>
                <li>
                  <a href="/juke/pause"><span class="glyphicon glyphicon-pause" aria-hidden="true"></span></a>
                </li>
              <% else %>
                <li>
                  <a href="/juke/play"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></a>
                </li>
              <% end %>
              <li>
                <a href="/juke/next"><span class="glyphicon glyphicon-forward" aria-hidden="true"></span></a>
              </li>
              <li>
                <a href="/juke/stop"><span class="glyphicon glyphicon-stop" aria-hidden="true"></span></a>
              </li>
              <li>
                <a href="/juke/clear"><span class="glyphicon glyphicon-eject" aria-hidden="true"></span></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="inner cover" id="playing_now">
        <%= render partial: 'playing_now' %>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <p>FGSF Media team - Give us your feedback! <a href=#">fgsfmedia@gmail.com</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  setInterval(function() {
    $('#playing_now').load('/juke/playing_now');
  }, 2000);

  setTimeout(function() { window.location=window.location;}, 60000);
</script>