<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">FGSF Music Library</div>
  <div class="panel-body cover-background-color">
    <p>Choose thy song and thy music shall play</p>
  </div>

  <!-- List group -->
  <div class="list-group">
    <% @songs.each do |song| %>
      <% @css_class = alternate_list_css(@css_class) %>
      <a href="/juke/add_song?song_name=<%= song.file %>" class="list-group-item <%= @css_class %>">
        <span class="glyphicon glyphicon-play" aria-hidden="true"></span> <%= song.file %>
      </a>
    <% end %>
  </div>

  <div class="panel-footer cover-background-color">
    FGSF Media Team -
    <a href="mailto:fgsfmedia@gmail.com?Subject=Hi team!" target="_top">fgsfmedia@gmail.com</a>
  </div>
</div>

