
<div class="list_header">
  <h1><span class="glyphicon glyphicon-music" style="font-size:.7em;"></span>&nbsp;JUKE </h1>
  <h2 id="list_greeting">Get all the music you want.</h2>
</div>

<div id="list_body">
  <div class="panel panel-default">
    <!-- List group -->
    <div class="list-group">
      <% @songs.each do |song| %>
          <button type="button" class="btn_add_song list-group-item text-align-center" \
          name="/juke/add_song?bypass=<%= URI.encode(params[:bypass].to_s) %>&song_name=<%= URI.encode(song.file) %>">
          <%= song.to_h[:title] || song.file %>
          </button>
      <% end%>
    </div>
  </div>
</div>


<div id="footer">

  <%= render partial: 'title' %>

  <div class="col-xs-12 navbar-fixed-bottom"  id="bottomNav">
    <div class="row">
      <div class="col-xs-3 text-center"><a href="#" class="nav-text"><i class="glyphicon glyphicon-music"></i><br>Now</a></div>
      <div class="col-xs-3 text-center"><a href="#" class="nav-text"><i class="glyphicon glyphicon-heart"></i><br>New</a></div>
      <div class="col-xs-3 text-center"><a href="#" class="nav-text"><i class="glyphicon glyphicon-book"></i><br>Library</a></div>
      <div class="col-xs-3 text-center"><a href="#" class="nav-text"><i class="glyphicon glyphicon-search"></i><br>Search</a></div>
      <div class="col-xs-3 text-center"><a href="#" class="nav-text"><i class="glyphicon glyphicon-comment"></i><br>Feed</a></div>
    </div>
  </div>
</div>

<script>
  setInterval(function() {$('#screen_title').load('/juke/title');}, 5000);
</script>
