
<div class="list_header">


  <h1><span class="glyphicon glyphicon-music" style="font-size:.7em;"></span>&nbsp;JUKE </h1>

  <h2 id="list_greeting">Get all the music you want.</h2>


</div>

<div id="list_body">


<div id="footer">
  <div class="col-xs-12 navbar-fixed-bottom now-playing-bottom">
    <%= image_tag("main_05.jpg", :id => "now-playing-background") %>
  </div>

  <div class="col-xs-12 navbar-fixed-bottom now-playing-top">
    <div class="display">
      <div class="song-info">
        <%= image_tag("main_05.jpg", :id => "now-playing-artwork") %>
      </div>
      <div id="info_screen_non_fixed">
        <div class="sml_margin">
          <h4 id="screen_title"><%= render partial: 'title' %></h4>
        </div>
      </div>
    </div>
  </div>


  <div class="col-xs-12 navbar-fixed-bottom"  id="bottomNav">
    <div class="row">
      <div class="col-xs-3 text-center"><a href="#" class="nav-text"><i class="glyphicon glyphicon-music"></i><br>Now</a></div>
      <div class="col-xs-3 text-center"><a href="#" class="nav-text"><i class="glyphicon glyphicon-heart"></i><br>New</a></div>
      <div class="col-xs-3 text-center"><a href="#" class="nav-text"><i class="glyphicon glyphicon-book"></i><br>Library</a></div>
      <div class="col-xs-3 text-center"><a href="#" class="nav-text"><i class="glyphicon glyphicon-search"></i><br>Search</a></div>
      <div class="col-xs-3 text-center"><a href="#" class="nav-text"><i class="glyphicon glyphicon-comment"></i><br>Feed</a></div>
    </div>
  </div>
</div>
