.input-comment-commenter {
  color: #000;
  margin:auto;
  width:70%;
  height:40px;
  border:1px solid gray !important;
  
}

.input-comment-body {
  color: #000;
  margin:auto;
  width:70%;
  height:100px !important;
    border:1px solid gray;
    resize: none;
}
