.input-comment-commenter {
  color: #000;
  margin:auto;
  width:80%;
  height:40px;
  border:1px solid #c9c9c9;


}

.input-comment-body {
  color: #000;
  margin:auto;
  width:80%;
  height:100px !important;
    border:1px solid #c9c9c9;
    resize: none;
}

.form-background{
  /*background-color: #F3F4F8 !important;*/
  height: 700px;
  width: 100%;
}
