html,
body {
  height: 100%;
  width: 100%;
}

body {
  text-align: center;
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
}

.font-20 {
  font-size: 20px;
}

.font-25 {
  font-size: 25px;
}

.font-30 {
  font-size: 30px;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

#list-panel-heading {
  position:fixed;
  top: 0;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  background-image: url('bar_image.jpg');
  text-align: center;
  z-index: 10;
}

#list-panel-heading-non-fixed {
  top: 0;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

#info_screen{
  position: fixed;
  bottom:0;
  margin: 0;
  background-image: url('bar_image.jpg');
  text-align: center;
  width: 100%;
  z-index: 10;
}

#info_screen_non_fixed {
  float: right;
  margin: 0;
  text-align: center;
  width: 75%;
  height: 100%;
  color: white;

}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

.sticky-top {
  font-size: 16px;
  position:fixed;
  top:0;
  width:100%;
  height: 22px;
  z-index:100;
}

.init-hide {
  display: none;
}

.link-color {
  //color: #3366BB;
  text-decoration: underline;
}

.padding-left-10px {
  padding-left: 10px;
}

/*
* Header
*/
.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

.sml_margin{
  margin:0 !important;
  bottom:0;


  padding-right:5px;
  padding-left:5px;
  height: 100%;
}

.dark {
  color: rgba(black, 0.55);
}

#header {
  position: absolute;
  background-image: url('background_gray.jpg');
  padding: 15em 0 15em 0;
  text-align: center;
  color:white;
  width: 100%;
  height: 100%;
}

.medium-font {
  font-size: 3em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.heavy-font {
  font-size: 3em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

#current_time {
  position: absolute;
  text-align: center;
  z-index: 5;
  color: #fff;
  width: 100%;
}




#playing_now {
  margin: 30px auto 30px auto;

  font-size:1.2em !important;
  width: 100%;
}

#title {
  display: inline-block;
  white-space: nowrap;
}

#carousel-comments {
  position: fixed;
  bottom: 10px;
  font-size:1.2em;
  width: 100%;
  color:white;
}

/********************************/
/******  Edited by Jiwoo   ******/
/********************************/

#juke_control{
  display: -webkit-inline-box;
  font-size: 0.8em;
}

#index-box-left-image{
  height: 444px;
  width: 444px;

}




.index-outer-box{
  display: -webkit-inline-box;
  height: 450px;
}

.index-box-left, .index-box-middle, .index-box-right{
  width:450px;
  border:3px solid gray !important;


}

.index-box-middle, .index-box-right{


}

.index-box-middle-wrapper{
  margin: 130px 0;
}

.index-box-right-wrapper{
  margin: 15px;
}

.index-box-right-wrapper > span{
  font-size: 1.6em;
}

p#info-title, p#info-artist, p#info-album{
  font-weight:100;
  font-size: 1.8em;
  margin: 4px;
}

p#info-title{
  font-size: 2.2em !important;
    font-weight: 200;
    margin-bottom: 20px;
}

.coming_up{
  margin: 0 15px 15px 15px;
}
.dynamic-height{
  width: 400px;
  max-height: 360px;
  overflow-y: auto;
  font-size: 1.7em;
}
