html,
body {
  height: 100%;
  width: 100%;
}

body {
  text-align: center;
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
}

.font-20 {
  font-size: 20px;
}

.font-25 {
  font-size: 25px;
}

.font-30 {
  font-size: 30px;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

#list-panel-heading {
  position:fixed;
  top: 0;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  background-image: url('bar_image.jpg');
  text-align: center;
  z-index: 10;
}

#list-panel-heading-non-fixed {
  top: 0;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

#info_screen{
  position: fixed;
  bottom:0;
  margin: 0;
  background-image: url('bar_image.jpg');
  text-align: center;
  width: 100%;
  z-index: 10;
}

#info_screen_non_fixed {
  float: right;
  margin: 0;
  text-align: center;
  width: 75%;
  height: 100%;
  color: white;

}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

.sticky-top {
  font-size: 16px;
  position:fixed;
  top:0;
  width:100%;
  height: 22px;
  z-index:100;
}

.init-hide {
  display: none;
}

.link-color {
  //color: #3366BB;
  text-decoration: underline;
}

.padding-left-10px {
  padding-left: 10px;
}

/*
* Header
*/
.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

.sml_margin{
  margin:0 !important;
  bottom:0;


  padding-right:5px;
  padding-left:5px;
  height: 100%;
}

.dark {
  color: rgba(black, 0.55);
}

#header {

  background-image: url('background_gray.jpg');
  padding:0;
  text-align: center;
  background-size: cover;
  color:white;
  width: 100%;
  height: 100%;
}

.medium-font {
  font-size: 3em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.heavy-font {
  font-size: 3em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

#current_time {
  text-align: center;
  z-index: 5;
  color: #fff;
  width: 100%;
  font-size: 10em;
  padding-top:210px;
}




#playing_now {
  margin: 30px auto 30px auto;

  font-size:1.2em !important;
  width: 100%;
}

#title {
  display: inline-block;
  white-space: nowrap;
}

#carousel-comments {
  position: fixed;
  bottom: 10px;
  font-size:1.2em;
  width: 100%;
  color:white;
}

/********************************/
/******  Edited by Jiwoo   ******/
/********************************/

#sides{
  position: relative;
  height: 300px;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.showing {
    opacity: 1;
    z-index: 2;
}

.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;

  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;

  font-size: 40px;
   padding: 40px;
   box-sizing: border-box;
   background: #333;
   color: #fff;
}

.slide:nth-of-type(1) {
    background: red;
}
.slide:nth-of-type(2) {
    background-image: url("winter/winter_02.jpg");
}
.slide:nth-of-type(3) {
    background-image: url("winter/winter_03.jpg");
}
.slide:nth-of-type(4) {
    background-image: url("winter/winter_04.jpg");
}
.slide:nth-of-type(5) {
    background-image: url("winter/winter_05.jpg");
}
.slide:nth-of-type(6) {
    background-image: url("winter/winter_06.jpg");
}
.slide:nth-of-type(7) {
    background-image: url("winter/winter_07.jpg");
}
.slide:nth-of-type(8) {
    background-image: url("winter/winter_08.jpg");
}


#juke_control{
  display: -webkit-inline-box;
  font-size: 0.6em;
}

#index-box-left-image{
  height: 194px;
  width: 194px;

}
.control-div{
  top:0;
  bottom:0;
  left:0;
  right:0;


}

.control-upper-div{
  /*background-image: url('fall_08.jpg');*/
  background: url('fall_08.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 900px;


}

.control-lower-div{
  height: 33%;
  width: 100%;

  bottom:0;
  position: fixed;
}

.background-image{
  /* background-image: url('background_gray.jpg'); */
  /*background-color: rgba(0,0,0,0.6);*/
  background-size: cover;
}

.index-outer-box{
  display: -webkit-inline-box;
  height: 200px;
  margin:15px 0 40px 0;
}

.index-box-left{
  width: 200px;
  border:3px solid gray !important;

}
.index-box-middle, .index-box-right{
  width:400px;
  border:3px solid gray !important;


}

.index-box-middle, .index-box-right{


}

.index-box-middle-wrapper{
  margin-top:11px;

}

.index-box-right-wrapper{
  margin: 15px;
}

.index-box-right-wrapper > span{
  font-size: 1.2em;
}

p#info-title, p#info-artist, p#info-album{
  font-weight:100;
  font-size: 1.5em;
  margin: 4px;
}

p#info-title{
  font-size: 2em !important;
  font-weight: 200;
  margin-bottom: 10px;
}

.coming_up{
  margin: -17px 15px 15px 15px;
}
.dynamic-height{
  width: 350px;
  max-height: 150px;
  overflow-y: auto;
  font-size: 1.3em;
}

/********************************/
/******    /juke/search    ******/
/********************************/

.ui-input-text{
  margin-left: 5% !important;
  margin-right: 5% !important;
  width: 90%;
  z-index: 100;
  position: fixed ;
  padding-top: 3px;
}

#search_input_text{
  margin: -40px 0 0 -19px;
  background: white !important;
  height: 50px !important;
  width:100%;
  position: fixed;
  z-index: 100;
  /*border-bottom:1px solid #ddd;*/
}

#search_result_body{
  padding-top: 49px;

}

#myUL{
   list-style-type: none;
   padding: 0;
}

/********************************/
/******      /juke/now     ******/
/********************************/

#other-songs-by-artist{
  background-color: rgba(54,54,54,0.3);
  width: 100%;
}

.now-outter-background{
  width: 100%;
  height: 700px;
  position: fixed;
  filter: blur(15px);
  transform: scale(1.5);
  opacity: 0.9;
  background-color:black;
}

.now-outter-background img{
  height: 100%;
  width: 100%;
}

.now-outter-wrapper{
  position: relative;

}

.now-inner-background{
  width:100%;
}



.now-info{
  margin-top:40px;
  margin-bottom:50px;
  margin-left: 10%;
  margin-right: 10%;
  width:80%;

/*
  -webkit-transition:height 0.3s;
	-moz-transition:height 0.3s;
	-ms-transition:height 0.3s;
	-o-transition:height 0.3s;
	transition:all 0.3s;
*/

}

.now-info-data{
  color: white;
  margin-top:5px;
  font-size: 1.2em;
  height: 40%;
  margin-bottom:10px;
}

.now-info-data p#title{
  font-size:1.5em;
}

.now-info-data p#artist, p#album{
  font-size:0.8em !important;
  font-weight: 100 !important;

}
.now-info-artwork{

  bottom:0;
  height: 60%;
  width: 250px;
  margin: auto;
  position: relative;


}
.now-info-artwork img{
  width:100%;
  height:250px;

  border-radius: 50%;
}
.now-list-group-item{
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  color:white;
}

.smaller{
  height: 100px;
  display: flex;
  position: fixed;
  margin-top: -10px;
  margin-bottom:10px;
/*
  -webkit-transition:height 0.3s;
	-moz-transition:height 0.3s;
	-ms-transition:height 0.3s;
	-o-transition:height 0.3s;
	transition:all 0.3s;
*/
  .now-info-data {
    margin-right:20px;
		right:0;
    position:absolute;

    p#title{
      font-size: 1.1em;
    }
    p#artist, p#album{
      font-size:0.7em;
    }
  }

  .now-info-artwork{
    width:25%;
    position: absolute;
    left:0;
    margin:0;
    top:0;

    img{
      height : 80px;
    }

  }

}
  #other-songs-by-artist{
    position: fixed;
    margin-top: 60px;
/*
    -webkit-transition:height 0.3s;
    -moz-transition:height 0.3s;
    -ms-transition:height 0.3s;
    -o-transition:height 0.3s;
    transition:all 0.3s;
*/
  }

  .other-songs-list {
    width: 100%;
    margin-top: 100px;
    padding-bottom:150px;
    padding-top:25px;
    overflow-y: scroll;
    max-height: 450px;
    -webkit-overflow-scrolling: touch;
    position: fixed;
  }

/******************************************************************/
/******  Style adjustment for iphone 4/4S/5/5S optimization  ******/
/******************************************************************/

@media (max-width: 330px) {
  .now-info-artwork{
    margin:auto;
  }

  .now-info-artwork img{
    width:70%;
  }
  .now-info{
    margin-top: 10px;
  }
  .now-info-data{
    font-size:1em;
  }
  .smaller{
    /*
    -webkit-transition:height 0s;
  	-moz-transition:height 0s;
  	-ms-transition:height 0s;
  	-o-transition:height 0s;
  	transition:all 0s;
    */

  }


}
