/*!
*  This is stylesheet for /juke/list
*  Made by: Jiwoo Park
*  Version 1.0
*/
body{
  text-shadow: none;

}

/****************/
/*    Header    */
/****************/

.list_header{

  position:fixed;
  display: flex;
  top:0;
  width: 100%;
  height: 60px;
  background: linear-gradient(90deg, #8C65FE, #46A6FA);
  z-index:50;

}

.list_header > h1{
  margin:auto 20px !important;
  float: left;
  color:white;
  font-family: Helvetica;
  font-size: 2em;
  vertical-align: middle !important;
}

#list_greeting{
  font-size: 1.2em;
  margin:auto 0;
  color: white;
  font-weight:100;
}



.list_logo{
  text-align: left;
}


/****************/
/*     body     */
/****************/

#list_body{
  margin-top: 60px;
  margin-bottom: 126px;
}



/*******************************/
/*    footer [Now Playing]     */
/*******************************/

.nav-text{
  font-size: 12px;
}

.nav-text > i{
  font-size: 25px;
}

.now-playing-top{

  overflow:hidden;
  height:70px;
  margin-bottom:56px !important;
  z-index:300;
  padding: 0 !important;
}

.song-info{
  width:20%;
  height:70px;
  position: fixed;
  margin: 0;
}

.song-info > img{
  width:60px;
  height:60px;
  margin: 5px;
}


.display{
  height: 100%;
  width:90%;
  margin-left:5%;
  margin-right:5%;

}
img#now-playing-background {
  width: 110%;
  transform: scale(1.1);
  -webkit-filter: blur(10px);
}
#now-playing-artwork{
  height: 60px;
  width: 60px;
  display: -webkit-box;
  margin: 5px 0 5px 25px !important;
}

h4#screen_title{
  margin: 6px !important;
  height: 58px;
  font-size: 1em;

}

p#title, p#artist, p#album{
  font-weight:200;
  margin:1px 0;

  font-size: 1.1em;
}

p#title{
  font-size: 1.3em;
  font-weight: 400;


}



/*******************************/
/*     footer [Bottom Nav]     */
/*******************************/

#bottomNav{
  background-color: white;
}




/********************************/
/******  List Info Slider  ******/
/********************************/

.list_info_slider{
  font-size:1.5em;
  font-weight: lighter;

}

.list_info_slider > img{
  margin: 20px 0 30px 0;
  width:200px;
  height:200px;
}

.large_font{
  font-size:2.4em;
  font-weight: 100;
}


/********************************/
/******  Hojin's Edit      ******/
/********************************/

.feed_alert{
font-size-adjust: 2.5em;
color: red;

}

.label_commenter{
font-family: Arial Black;
font-weight: bold;

}

.label_body{
font-family: Arial Black;
font-weight: bold;
}

.commenter{
  width: 80%;
  margin: auto;
  height: 50px;
}

.body{
  width: 80%;
  margin: auto;
  height: 100%;
}

.thank{
  margin-top:150px;
  font-size: 30px;
  font-family: Arial Black;

}
/******************************************************************/
/******  Style adjustment for iphone 4/4S/5/5S optimization  ******/
/******************************************************************/

@media (max-width: 330px) {
  .list_header {
    font-size: 0.9em;
    height: 40px;
  }

  .sml_margin{

  }
  .now-playing-top{
    height: 60px;
    margin-bottom: 47px !important;
  }
  .song-info > img{
    height: 50px;
    width: 50px;
    margin: 5px 0;

  }


  #list_body{
    margin-top: 40px;
    margin-bottom: 107px;

  }
  h4#screen_title{
    margin:5px !important;
    height: 50px;
  }

  p#title{
    font-size: 1.1em;
  }

  p#artist, p#album{
    font-size:0.9em;
  }

  .nav-text{
    font-size: 10px;
  }

  .nav-text > i{
    font-size: 15px;
  }

  #list_slider_back{
    height: 25px;
    width: 50px;
    padding: 0;
  }

  #list_slider_back i{
    font-size: 1.5em;

  }

  #list_slider_back_text{
    display: none;
  }

  .list_info_slider{
    font-size: 1.3em;
  }

  .list_info_slider > img{
    margin:0 0 7px 0;
    width: 150px;
    height: 150px;

  }



}
