/*
*  This is stylesheet for /juke/new
*  Made by: Jiwoo Park
*  Version 1.0
*/

.new-outter-wrapper{
  width: 100%;
  margin-bottom: 150px;
}

.new-background{
  background-color:#F3F4F8;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index:-1;
  margin-top:-50px;
}

.new-inner-wrapper{
  position: fixed;
  width: 90%;
  margin:-45px 20px 0px 20px;
  padding-bottom:50px;
  max-height: 550px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  h2{
    font-size:1.5em !important;
    font-weight:lighter !important;
  }
}

.new-songs-list{
  -moz-column-count:2;
  -webkit-column-count:2;
  column-count:2;
  height: 800px;
  width: 90%;
  margin: 0 auto 80px auto;

}

.new-songs-tile{
  margin-bottom:15px;


}

.tile-images{
  width: 100% !important;
  height: 142px;
  margin: 0 auto 5px auto;

  img{
    height: 155px;
    width: 100% !important;
    border-radius: 10px;
  }

}


.tile-info{
  margin-left: 3px;
  margin-top:3px;
  text-align: left;
  line-height: 0.9;;
  padding-top:10px;
  height:37px;

  #info-line-1{
    font-size: 0.9em;
    color: #858585;
  }

  #info-line-2{
    font-size:0.7em;
    color: #aeaeae;
  }
}

hr{
  margin-top: -5px !important;
  border-top: 1px solid #b0afaf !important;
}
